<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Hardware del switch</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Hardware del switch
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Un switch o conmutador es un dispositivo de interconexión utilizado para conectar equipos en red formando lo que se conoce como una red de área local (LAN) y cuyas especificaciones técnicas siguen el estándar conocido como Ethernet (o técnicamente
                IEEE 802.3).</p>
            <ion-card-subtitle>
                Categorias de switch
            </ion-card-subtitle>
            <p>
                Existen cinco categorías de switches para redes empresariales, que se muestran en la Imagen
            </p>
            <ion-img src="../../../../../assets/img/dispositivos-de-red/1.png">

            </ion-img>
            <ul>
                <li> <b>  Switches LAN de campus: </b>para escalar el rendimiento de la red en una LAN empresarial, pueden utilizarse switches de núcleo, de distribución, de acceso y compactos. Estas plataformas de switch varían de switches sin ventilador
                    con ocho puertos fijos a switches de 13 blades que admiten cientos de puertos. Las plataformas de switches LAN de campus incluyen los switches de Cisco de las series 2960, 3560, 3750, 3850, 4500, 6500 y 6800.</li>

                <li> <b>  Switches administrados en la nube:</b> los switches de acceso administrados a través de la nube Cisco Meraki permiten el apilamiento virtual de switches. Estos controlan y configuran miles de puertos de switch en la Web, sin intervención
                    del personal presencial de TI.</li>

                <li> <b>  Switches de centros de datos:</b> los centros de datos se deben armar sobre la base de switches que promuevan la escalabilidad de la infraestructura, la continuidad de funcionamiento y la flexibilidad de transporte. Las plataformas
                    de switches de centro de datos incluyen los switches de las series Cisco Nexus y Cisco Catalyst 6500.</li>

                <li> <b>  Switches de proveedores de servicios:</b> estos switches se dividen en dos categorías, switches de agregación y switches de acceso Ethernet. Los switches de agregación son switches Ethernet de nivel de prestadora de servicios que
                    agregan tráfico en el perímetro de la red. Los switches de acceso Ethernet de proveedores de servicios cuentan con inteligencia de aplicación, servicios unificados, virtualización, seguridad integrada y administración simplificada.</li>

                <li><b>   Redes virtuales:</b> las redes se vuelven cada vez más virtuales. Las plataformas de switches de redes virtuales Cisco Nexus proporcionan servicios multiinquilino seguros al incorporar tecnología de inteligencia de virtualización
                    a la red del centro de datos.</li>

            </ul>
            <ion-card-subtitle>
                Densidad de puertos
            </ion-card-subtitle>
            <p>
                La densidad de puertos de un switch se refiere al número de puertos disponibles en un único switch. En la ilustración se muestra la densidad de puertos de tres switches diferentes.
            </p>
            <ion-img src="../../../../../assets/img/dispositivos-de-red/2.png"></ion-img>

            <ion-card-subtitle>
                Velocidades de reenvio
            </ion-card-subtitle>
            <p>
                Las tasas de reenvío definen las capacidades de procesamiento de un switch mediante la estimación de la cantidad de datos que puede procesar por segundo el switch.
            </p>
            <ion-img src="../../../../../assets/img/dispositivos-de-red/3.png"></ion-img>
        </ion-card-content>
    </ion-card>

</ion-content>