<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Configuración EIGRP para IPv6</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Configuración de EIGRP con IPv6
            </ion-card-title>
            <ion-card-subtitle>
                Ejemplo: Configurar EIGRP para IPv6
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p>
                En la Imagen 4, se muestra la topología de la red que se utiliza para configurar EIGRP para IPv6. Si en la red se ejecuta dual-stack y se utilizan IPv4 e IPv6 en todos los dispositivos, se puede configurar tanto EIGRP para IPv4 como para IPv6 en todos
                los routers. No obstante, esta sección se centra solamente en EIGRP para IPv6.
            </p>
            <ion-img src="../../../../../assets/img/cisco3/tema2/1.png">
            </ion-img> <br>
            <p>
                A continuación, se muestra la configuración de inicio de interfaz en cada router.
            </p>
            <ion-img src="../../../../../assets/img/cisco3/tema2/2.PNG">
            </ion-img> <br>
            <ion-img src="../../../../../assets/img/cisco3/tema2/3.PNG">
            </ion-img> <br>
            <ion-img src="../../../../../assets/img/cisco3/tema2/4.PNG">
            </ion-img> <br>
        </ion-card-content>
    </ion-card>

</ion-content>