<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Configuración EIGRP para IPv4</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Configuración de EIGRP con IPv4
            </ion-card-title>
            <ion-card-subtitle>
                Ejemplo: Configurar EIGRP para IPv4
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p>
                En la Imagen 1, se muestra la topología que se usa en este curso para configurar EIGRP para IPv4.
            </p>
            <ion-img src="../../../../../assets/img/cisco3/tema1/1.png">
            </ion-img> <br>
            <ion-img src="../../../../../assets/img/cisco3/tema1/2.PNG">
            </ion-img> <br>
            <ion-img src="../../../../../assets/img/cisco3/tema1/3.PNG">
            </ion-img> <br>
            <ion-img src="../../../../../assets/img/cisco3/tema1/4.PNG">
            </ion-img> <br>
        </ion-card-content>
    </ion-card>

</ion-content>