<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Hardware del router</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Hardware de routers
            </ion-card-title>
            <ion-card-subtitle>
                Requisitos de los routers
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p>
                Los routers cumplen un papel muy importante en la red, ya que interconectan múltiples sitios dentro de la red empresarial, lo que proporciona rutas redundantes y conecta los ISP en Internet. Los routers también pueden actuar como traductores entre los
                diferentes tipos de medios y protocolos. Por ejemplo, un router puede aceptar paquetes de una red Ethernet y volver a encapsularlos para transportarlos por una red serial.
            </p>
            <p>
                transportarlos por una red serial. Los routers usan la parte de la red de la dirección IP de destino para enrutar paquetes hacia el destino correcto. Seleccionan una ruta alternativa si el enlace deja de funcionar o si hay mucho tráfico. Todos los hosts
                de una red local especifican la dirección IP de la interfaz del router local en la configuración IP. Esta interfaz del router es el gateway predeterminado.

            </p>
            <p>
                Los routers también cumplen otras funciones útiles:
            </p>
            <ul>
                <li> Ofrecen contención de difusión </li>
                <li> Conectan ubicaciones remotas </li>
                <li> Agrupan a los usuarios lógicamente de acuerdo con la aplicación o el departamento </li>
                <li> Proporcionan seguridad mejorada </li>
            </ul>
            <ion-card-subtitle>Routers Cisco</ion-card-subtitle>
            <ion-img src="../../../../../assets/img/dispositivos-de-red/4.png"></ion-img> <br>
            <ion-img src="../../../../../assets/img/dispositivos-de-red/5.png"></ion-img> <br>
            <ion-card-subtitle>Hardware de routers</ion-card-subtitle>
            <ion-img src="../../../../../assets/img/dispositivos-de-red/6.png"></ion-img> <br>
        </ion-card-content>
    </ion-card>

</ion-content>