<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Representaciones de red</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Representaciones de Red: Diagrama de Topología
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <P>
                Los diagramas de redes utilizan símbolos/imágenes para representar los diferentes dispositivos y conexiones que componen una red. Un diagrama permite comprender fácilmente la forma en la que se conectan los dispositivos en una red grande. Este tipo de
                representación de una red se denomina <b>diagrama de topología.</b> La capacidad de reconocer las representaciones lógicas de los componentes físicos de red es fundamental para poder visualizar la organización y el funcionamiento
                de una red.
            </P>
            <br>
            <ion-img src="../../../../../assets/img/cisco1/tema6/1.png"> </ion-img> <br>
            <p>
                Además de estas representaciones, se utiliza terminología especializada al hablar sobre cómo se conectan estos dispositivos y los medios unos a otros. Algunos términos importantes para recordar son:
            </p>
            <ul>
                <li>
                    <b> Tarjeta de interfaz de red:</b> una NIC, o adaptador de LAN, proporciona la conexión física a la red en la PC u otro terminal. Los medios que realizan la conexión de la PC al dispositivo de red se conectan directamente en la NIC.
                </li>
                <li>
                    <b>  Puerto físico:</b> un conector o conexión en un dispositivo de red donde se conectan los medios a un terminal u otro dispositivo de red.
                </li>
                <li>
                    <b> Interfaz:</b> puertos especializados en un dispositivo de red que se conecta a redes individuales. Puesto que los routers se utilizan para interconectar redes, los puertos de un router se conocen como interfaces de red.
                </li>
            </ul>
        </ion-card-content>
    </ion-card>

</ion-content>