<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Historia de redes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Tipos de redes informaticas (LAN, WAN, MAN)
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>
                ¡Los dos tipos más comunes de infraestructuras de red de computadoras son Red de área local (LAN) y Red de área extensa (WAN), pero hay más!
            </p>
            <p>
                Es importante tener en cuenta que las infraestructuras de red pueden variar en gran medida en términos de:
            </p>
            <ul>
                <li> El tamaño del área que abarcan. </li>
                <li> La cantidad de usuarios conectados. </li>
                <li> La cantidad y los tipos de servicios disponibles. </li>
                <li> El área de responsabilidad. </li>

            </ul>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Tipos de redes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>
                Los dos tipos más comunes de infraestructuras de red son los siguientes:
            </p>
            <ul>
                <li> Red de área local (LAN)</li>
                <li> Red de área extensa (WAN)</li>
            </ul>
            <p>
                Otros tipos de redes incluyen los siguientes:
            </p>
            <ul>
                <li> Red de área metropolitana (MAN) </li>
                <li> LAN inalámbrica (WLAN) </li>
                <li> Redes Area de Almancenamiento (SAN) </li>
            </ul>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Redes de area local (LAN)</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Es aquella Red que proporciona conectividad en un hogar, edificio o campus y podemos destacar lo siguiente:</p>
            <ul>
                <li> Abarcan un área geográfica pequeña </li>
                <li> Interconectan terminales en áreas limitadas. (Por ejemplo: Casa, Edificios, campus) </li>
                <li> Son administradas por una sola organización </li>
                <li> Proporcionan ancho de banda de alta velocidad a dispositivos internos </li>
            </ul>
            <ion-img src="../../../../../assets/img/cisco1/tema4/1.png"></ion-img>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Redes de area amplia (WAN)</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>
                Son aquellas infraestructuras de red que abarcan un área geográfica extensa. Tiene las siguientes características:
            </p>
            <ul>
                <li> Interconectan redes LAN a través de áreas geográficas extensas. </li>
                <li> Son administradas por varios proveedores de servicios </li>
                <li> Proporcionan enlaces de velocidad más lenta entre redes LAN </li>
                <li> Las LAN que están separadas geográficamente se conectan mediante una WAN, operadas por los ISP </li>

            </ul>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Redes MAN, WLAN y SAN</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <li> <b> Red de área metropolitana (MAN): </b>Metropolitan Area Network – son infraestructuras de red que abarcan un área física mayor que la de una LAN pero menor que la de una WAN (por ejemplo, una ciudad). Por lo general, la operación de MAN
                está a cargo de una única entidad, como una organización de gran tamaño. </li>
            <li> <b> LAN inalámbrica (WLAN): </b>Wireless Local Area Network – son similares a las LAN, solo que interconectan de forma inalámbrica a los usuarios y los extremos en un área geográfica pequeña. </li>
            <li> <b> Red de área de almacenamiento (SAN):</b> Storage Area Network – son infraestructuras de red diseñadas para admitir servidores de archivos y proporcionar almacenamiento, recuperación y replicación de datos. </li>
            <li> <b> Red de área Personal (PAN):</b> PAN – Personal Area Network – es definitivamente el tipo más pequeño de red que puede usar actualmente y el nombre proviene de la red de área personal. Probablemente haya usado esto en la última semana sin
                siquiera saberlo. Es la red interconectada de dispositivos tecnológicos al alcance de una persona individual, pero generalmente limitada a un alcance de 10 metros como máximo. </li>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Internet, redes intranet y redes extranet</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>
                La Internet es llamado “red de redes”, es el conjunto global de redes interconectadas y no es propiedad de ninguna persona ni de ningún grupo.
            </p>
            <ul>
                <li> <b> Intranet:</b> Se utiliza para hacer referencia a una conexión privada de LAN y WAN que pertenece a una organización y está diseñada para que accedan a ella solo los miembros y los empleados de la organización u otras personas autorizadas.</li>
                <li> <b> Extranet:</b> Se utiliza para proporcionar acceso seguro a las personas que trabajan para otra organización, pero requieren datos de la empresa. Ej. Una empresa que proporciona acceso a proveedores y contratistas externos.</li>

            </ul>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Tecnologías de acceso a internet
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>
                Existen varias formas diferentes de conectar a usuarios y organizaciones a Internet. Veamos como clasificamos estas tecnologías:
            </p>
            <ul>
                <li>
                    <b>Internet Doméstico o Pequeñas oficinas: </b> Requieren un Proveedor de servicios de Internet (ISP)
                    <ol>
                        <li> Cable de banda ancha: Generalmente un servicio ofrecido por proveedores de servicios de televisión por cable. </li>

                        <li> Banda ancha por línea de suscriptor digital (DSL): La línea de suscriptor digital proporciona una conexión a Internet siempre activa y de un ancho de banda elevado. </li>

                        <li> WAN inalámbricas y Servicios móviles: El acceso a Internet por datos móviles.</li>
                    </ol>
                </li>
                <li>
                    <b>Laboral o Empresarial:</b> Los proveedores de servicios (SP) son quienes proporcionan interconexiones de nivel empresarial. Para admitir servicios empresariales, como telefonía IP, videoconferencias y el almacenamiento en centros
                    de datos, se requieren conexiones rápidas.
                    <ol>
                        <li> DSL empresarial: Está disponible en diversos formatos. Una opción muy utilizada es la línea de suscriptor digital simétrica (SDSL), que es similar a la versión de DSL para el consumidor, pero proporciona las mismas velocidades
                            de subida y descarga. </li>
                        <li> Líneas arrendadas: Circuitos reservados reales dentro de la red del proveedor de servicios. </li>
                        <li> Metro Ethernet </li>

                    </ol>
                </li>
            </ul>
        </ion-card-content>
    </ion-card>


</ion-content>