<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Cable de fibra óptica</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Cable de fibra óptica
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>En la actualidad, el cableado de fibra óptica se utiliza en cuatro tipos de industrias:</p>
            <ul>
                <li>
                    Redes empresariales: la fibra óptica se utiliza para aplicaciones de cableado troncal y para la interconexión de dispositivos de infraestructura.
                </li>
                <li>
                    Fibre-to-the-Home (FTTH): la fibra hasta el hogar se utiliza para proporcionar servicios de banda ancha siempre activos a hogares y pequeñas empresas.
                </li>
                <li>
                    Redes de largo alcance: los proveedores de servicios las utilizan para conectar países y ciudades.
                </li>
                <li>
                    Redes por cable submarinas: se utilizan para proporcionar soluciones confiables de alta velocidad y alta capacidad que puedan subsistir en entornos submarinos adversos por distancias transoceánicas.
                </li>
            </ul>
            <p>
                Entre las propiedades del cableado de fibra óptica se destaca:
            </p>
            <ul>
                <li>
                    Transmite datos a través de mayores distancias y a anchos de banda mayores que cualquier otro medio de red
                </li>
                <li>
                    Transmite señales con menos atenuación y es totalmente inmune EMI y RFI.
                </li>
                <li>
                    Hilos de fibra de vidrio flexibles pero finos extremadamente delgado y transparente de vidrio muy puro, no mucho más grueso que un cabello humano.
                </li>
                <li>
                    Los bits se codifican en la fibra como impulsos de luz. El cable de fibra óptica actúa como una guía de ondas, o una “tubería de luz”, para transmitir la luz entre los dos extremos con una pérdida mínima de la señal.
                </li>
            </ul>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Tipos de cables de fibra óptica
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>
                Los tipos de medios de fibra óptica son los siguientes:
            </p>
            <ul>
                <li>
                    <b>Fibra óptica monomodo (SMF): </b> consta de un núcleo muy pequeño y emplea tecnología láser costosa para enviar un único haz de luz, como se muestra en la figura 1. Se usa mucho en situaciones de larga distancia que abarcan cientos
                    de kilómetros, como aplicaciones de TV por cable y telefonía de larga distancia.
                </li>
                <li>
                    <b>Fibra óptica multimodo (MMF): </b> consta de un núcleo más grande y utiliza emisores LED para enviar pulsos de luz. En particular, la luz de un LED ingresa a la fibra multimodo en diferentes ángulos, como se muestra en la figura
                    2. Se usa mucho en las redes LAN, debido a que se puede alimentar mediante LED de bajo costo. Proporciona un ancho de banda de hasta 10 Gbps a través de longitudes de enlace de hasta 550 m.
                </li>
            </ul>
        </ion-card-content>
    </ion-card>

</ion-content>