<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-title>
            CiscoE
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card routerLink="/cisco1" class="cardContent1">
                    <ion-card-header>
                        <ion-card-title class="tema">Cisco 1</ion-card-title>
                    </ion-card-header>

                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card routerLink="/cisco2" class="cardContent2">
                    <ion-card-header>
                        <ion-card-title class="tema">Cisco 2</ion-card-title>
                    </ion-card-header>
                    <!-- <ion-card-content>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, veniam.
                    </ion-card-content> -->
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card routerLink="/cisco3" class="cardContent3">
                    <ion-card-header>
                        <ion-card-title class="tema">Cisco 3</ion-card-title>
                    </ion-card-header>

                    <!--  <ion-card-content text-justify>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, quas!
                    </ion-card-content> -->
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card routerLink="/cisco4" class="cardContent4">
                    <ion-card-header>

                        <ion-card-title class="tema">Cisco 4</ion-card-title>
                    </ion-card-header>

                    <!--  <ion-card-content>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, ipsa?
                    </ion-card-content> -->
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card routerLink="/dispositivos-de-red" class="cardContent5">
                    <ion-card-header>

                        <ion-card-title class="tema">Dispositivos de Red</ion-card-title>
                    </ion-card-header>

                    <!-- <ion-card-content>
                        lorem10
                    </ion-card-content> -->
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card routerLink="/medios-red-capa-fisica" class="cardContent6">
                    <ion-card-header>

                        <ion-card-title class="tema">Medios de red de la capa fisica</ion-card-title>
                    </ion-card-header>

                    <!--    <ion-card-content>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, fugit.
                    </ion-card-content> -->
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card routerLink="/cable" class="cardContent7">
                    <ion-card-header>
                        <ion-card-title class="tema">Cables</ion-card-title>
                    </ion-card-header>

                    <!--  <ion-card-content>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, fugit.
                    </ion-card-content> -->
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>